.video-card {
  width: 20rem;
  height: 18rem;
  margin-bottom: 2rem;
  position: relative;
}
.video-card-content {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.video-card-description {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4px;
  color: white;
  height: 1.8rem;
}
.video-card-description i {
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
}
.video-card-channel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
}
.channel-name {
  color: var(--spotlight-primary);
  font-size: 14px;
}
.video-card-channel img {
  margin-left: 0;
}
.video-title {
  font-size: 14px;
  font-weight: 600;
}
.video-card-thumbnail {
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  color: red;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  background-color: white;
}
