.cta-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "left-cta left-cta right-cta right-cta";
}

.left-cta-container {
  grid-area: left-cta;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-cta-container {
  grid-area: right-cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.vector-image {
  height: 40rem;
}
.cta-heading {
  color: var(--spotlight-white);
  text-align: center;
  width: 75%;
}
.cta-btn {
  background-color: var(--spotlight-primary);
  width: 50%;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
}
.cta-heading-2 {
  color: var(--spotlight-primary);
}
.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 1rem 4rem 1rem;
}
.category {
  position: relative;
  box-sizing: border-box;
  width: 12rem;
  height: 12rem;
  padding: 6px 4px;
  margin: 2rem 0;
}

.category img {
  height: 100%;
  width: 100%;
}
.category-description {
  color: var(--spotlight-primary);
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
}
.category-heading {
  text-align: center;
  color: var(--spotlight-primary);
}
.landing-footer {
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 1rem 0;
}
.landing-footer-credits {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.social-media-link {
  color: var(--spotlight-white);
}
.social-media-link i:hover {
  color: var(--spotlight-primary);
  cursor: pointer;
}
.landing-footer-avatar {
  color: var(--spotlight-primary);
}
