.Navbar {
  color: var(--spotlight-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  grid-area: navbar;
}
.brand-name {
  color: var(--spotlight-primary);
  font-size: 2rem;
  font-weight: 800;
}
.spotlight-logo {
  width: 2rem;
}
.brand-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.center-navbar {
  width: 33%;
  display: flex;
  align-items: center;
  background-color: var(--spotlight-input-background);
  padding: 12px;
  border-radius: 8px;
}
.searchbar {
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
}
.search-icon-container {
  margin-right: 1rem;
  cursor: pointer;
  height: 100%;
}
.searchbar:focus {
  outline: none;
}
.btn-login {
  background-color: var(--spotlight-primary);
  border-radius: 4px;
}
.navbar-profile-container {
  position: relative;
}

.navbar-profile-title {
  color: var(--spotlight-primary);
}

.navbar-profile-title-account {
  color: var(--spotlight-primary);
  font-size: 12px;
}

.navbar-profile-title-container {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  cursor: pointer;
}

.navbar-profile-dropdown-container {
  border: 2px solid var(--spotlight-primary);
  background-color: white;
  border-radius: 4px;
  padding: 1rem 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 6rem;
  position: absolute;
  top: 3rem;
  right: 0;
}
.navbar-dropdown-my-profile {
  border: 1px solid var(--spotlight-primary);
}
.navbar-dropdown-my-profile a {
  color: var(--spotlight-primary);
}

.navbar-profile-dropdown-container button {
  width: 100%;
  margin: 0;
}
.btn-logout {
  background-color: var(--spotlight-primary);
}
.btn-login {
  background-color: var(--spotlight-primary);
}
.btn-login a {
  color: var(--spotlight-white);
}
.display-none {
  display: none;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .brand-name {
    display: none;
  }
}

@media screen and (max-width: 480px) {
}
