.Navbar {
  color: var(--spotlight-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  grid-area: navbar;
}
.brand-name {
  color: var(--spotlight-primary);
  font-size: 2rem;
  font-weight: 800;
}

.center-navbar {
  width: 33%;
  display: flex;
  align-items: center;
  background-color: var(--spotlight-input-background);
  padding: 12px;
  border-radius: 8px;
}
.searchbar {
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
}
.search-icon-container {
  margin-right: 1rem;
  cursor: pointer;
  height: 100%;
}
.searchbar:focus {
  outline: none;
}
.btn-login {
  background-color: var(--spotlight-primary);
  border-radius: 4px;
}
