.sidebar-container {
  color: white;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.sidebar-container p {
  font-size: 14px;
  font-weight: 600;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: white;
}
.sidebar-navigation:hover {
  color: var(--spotlight-primary);
}
.active-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--spotlight-primary);
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .sidebar-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
  }
}
