.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-not-found-vector {
  width: 25rem;
}
.page-not-found-btn {
  width: fit-content;
}
