@import url("https://crimsonui-beta.netlify.app/css/components.css");

:root {
  --spotlight-primary: #1ed760;
  --spotlight-secondary: #43454c;
  --spotlight-white: #ffffff;
  --spotlight-background: #121212;
  --spotlight-input-background: #191c21;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--spotlight-background);
}
a {
  text-decoration: none;
}
.page-heading {
  color: var(--spotlight-primary);
}
