.video-page-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "video-container video-container suggested-video-container";
}

.video-details-container {
  grid-area: video-container;
}

.suggested-video-container {
  grid-area: suggested-video-container;
}
.suggested-heading {
  color: var(--spotlight-primary);
  margin-bottom: 1rem;
}
.video-details-title {
  color: var(--spotlight-white);
  margin-top: 12px;
}
.video-details-action-container {
  color: var(--spotlight-white);
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 1rem;
}
.video-details-date-container {
  color: var(--spotlight-white);
  font-weight: 600;
  font-size: 1rem;
}
.video-details-cta-btn {
  border: none;
  background-color: transparent;
  color: var(--spotlight-white);
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.active-cta-btn {
  color: var(--spotlight-primary);
}
.video-details-btn-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1300px) {
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    z-index: 0;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .suggested-video-container {
    margin-top: 2rem 0 0 0;
    padding-left: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .video-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "video-container video-container video-container"
      "suggested-video-container suggested-video-container suggested-video-container";
  }
  .video-details-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .video-page-container {
    grid-area: video-page-container;
  }
  .Video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar sidebar"
      "video-page-container video-page-container";
  }
}

@media screen and (max-width: 480px) {
  .video-details-btn-container {
    gap: 1rem;
  }
  .video-details-title {
    font-size: 1.2rem;
  }
}
